{
  "parser":  "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends":  [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended"
  ],
  "parserOptions":  {
    "ecmaVersion":  2018,
    "sourceType":  "module",
    "ecmaFeatures":  {
      "jsx":  true
    }
  },
  "rules":  {},
  "settings":  {}
}
